
<div class="row">
  <div class="column">
    <h1 class="bindoo-heading" style="font-size: 48px; "><span style="color: #673ab7;">Appointment Boo</span><span
      style="color: #444;">kings</span></h1>
    <app-appointment></app-appointment>
    <br>
    <br>
    <br>
    <small style="color: #666;" >

      <b style="font-size: 18px;"><span style="color: #673ab7;">Appointment Boo</span><span style="color: #444;">kings</span></b> makes it
      easy for you to appointments.

      <br><br>Getting started is easy. Use your
      name and email to add appointment information.
    </small>
  </div>
  <div class="column">
      <img src="../../assets/img.jpg">
  </div>
</div>


